<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/HackerRank1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Example 1**

In [ ]:
#@title 
#!/bin/python3
import math
import os
import random
import re
import sys
from random import randrange

In [ ]:
#@title
n = randrange(10)

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts a LIST n as parameter.
# The function adds 20 to n and prints the sum

def test(n):
  # Write your code here

In [ ]:
#@title 
test(n)

**Example 2**

In [ ]:
#@title
n = randrange(10)

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts INTEGER n as parameter.
# The function adds 20 to n and returns the value to the main program

def test(n):
  # Write your code here
  return n + 20

In [ ]:
#@title 
output = test(n)
print(output)

**Example 3**

In [ ]:
#@title
n = [2,3,4,5,6,10]

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts LIST n as parameter.
# The function adds 5 to each value in the list
#Then returns the list

def test(n):
  # Write your code here

In [ ]:
#@title 
output = test(n)
print(output)

**Example 4**

In [ ]:
#@title 
n = ["","","","","",""]

n[0] = "Man"
n[1] = "man"
n[2] = "man"
n[3] = "woMan"
n[4] = "WoMan"
n[5] = "WOMAn"

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts a LIST n as parameter.
# Count the number of times the word woman appears in the list 
#**Note: the word woman can be in uppercase, or lowercase, or a mix of cases 
#Then return the count 

def test(n):
# Write your code here

In [ ]:
count_woman = test(n)
print(count_woman)

**Example 5**

In [ ]:
#@title 
x = 3
y = 2

n = [[1 for j in range(y)] for i in range(x)]
n[0][0] = "Joe"
n[1][0] = "Sam"
n[2][0] = "Jim"
n[0][1] = 3.2
n[1][1] = 2.1
n[2][1] = 4.6
print(n)

In [ ]:
#
# Complete the 'test' function below.
#
# The function accepts a 2 dimensional LIST n as parameter.
# The list has the format string, float for each row
# Return the average of the floats

def test(n):
# Write your code here

In [ ]:
#@title 
print("average = " , test(n))