<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/SideTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook demonstrates some of the uses of Sidetable, a Python library.
https://pbpython.com/sidetable.html

In [1]:

# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Programming-with-Python.git cloned-repo
%cd cloned-repo
!ls

Cloning into 'cloned-repo'...
warning: --local is ignored
remote: Enumerating objects: 133, done.
remote: Counting objects: 100% (133/133), done.
remote: Compressing objects: 100% (133/133), done.
remote: Total 674 (delta 74), reused 0 (delta 0), pack-reused 541
Receiving objects: 100% (674/674), 9.54 MiB | 6.61 MiB/s, done.
Resolving deltas: 100% (363/363), done.
/content/cloned-repo
C10_Intro_to_Python.ipynb      c6-content
C_11_Intro_to_Python.ipynb     C6_Intro_to_Python.ipynb
c1-content		       C7_1_Intro_to_Python.ipynb
C1_Intro_to_Python.ipynb       C7_2_Intro_to_Python.ipynb
c2-content		       c7-content
C2_IntroToMLProgramming.ipynb  c8-content
c3-content		       C8_Intro_to_Python.ipynb
C3_Intro_To_Python.ipynb       C9_Intro_to_Python.ipynb
c4-content		       data_files
C4_Intro_to_Python.ipynb       README.md
c5-content		       stinkbug.png
C5_Intro_to_Python.ipynb       USA_cars_datasets.csv
C6_2_Intro_to_Python.ipynb

**Install sidetable**

In [2]:
!pip install sidetable

Collecting sidetable
  Downloading https://files.pythonhosted.org/packages/45/cf/d9d6ea5785788b0e748336657f60d0e73e372b4b4f25e461f0096d11b850/sidetable-0.3.0.tar.gz
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.6/dist-packages (from sidetable) (1.0.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=1.0->sidetable) (1.12.0)
Building wheels for collected packages: sidetable
  Building wheel for sidetable (setup.py) ... done
  Created wheel for sidetable: filename=sidetable-0.3.0-cp36-none-any.whl size=9391 sha256=125e493203bd30792efcee3bcde2d18716776ce2c70499cf38c97d8aa175f51f
  Stored in directory: /root/.cache/pip/wheels/cb/89/c8/8523a369438a97da6e37ade1cf5bb7ba6f7638a42ebc22594c
Successfully built sidetable
Installing collected packages: sidetable
Successfully installed sidetable-0.3.0

In [0]:
import pandas as pd
import sidetable

**Get data**
<br>Load the data as a pandas dataframe

In [5]:
df = pd.read_csv("USA_cars_datasets.csv")
#drop redundant columns
df.drop(['Unnamed: 0','vin','lot'], axis=1, inplace=True)
df.head()

   price      brand    model  year  ...   color       state country      condition
0   6300     toyota  cruiser  2008  ...   black  new jersey     usa   10 days left
1   2899       ford       se  2011  ...  silver   tennessee     usa    6 days left
2   5350      dodge      mpv  2018  ...  silver     georgia     usa    2 days left
3  25000       ford     door  2014  ...    blue    virginia     usa  22 hours left
4  27700  chevrolet     1500  2018  ...     red     florida     usa  22 hours left

[5 rows x 10 columns]

In [10]:
df.shape

(2499, 10)

Use sidetable to determine percent  of total of each car brand

In [8]:
df.stb.freq(['brand'])[:10]

       brand  Count   Percent  Cumulative Count  Cumulative Percent
0       ford   1235  0.494198              1235            0.494198
1      dodge    432  0.172869              1667            0.667067
2     nissan    312  0.124850              1979            0.791917
3  chevrolet    297  0.118848              2276            0.910764
4        gmc     42  0.016807              2318            0.927571
5       jeep     30  0.012005              2348            0.939576
6   chrysler     18  0.007203              2366            0.946779
7        bmw     17  0.006803              2383            0.953581
8    hyundai     15  0.006002              2398            0.959584
9        kia     13  0.005202              2411            0.964786

Use sidetable to determine top three brands vs other brands

In [18]:
df.stb.freq(['brand'], thresh=.8, other_label='other brands')

          brand  Count   Percent  Cumulative Count  Cumulative Percent
0          ford   1235  0.494198              1235            0.494198
1         dodge    432  0.172869              1667            0.667067
2        nissan    312  0.124850              1979            0.791917
3  other brands    520  0.208083              2499            1.000000

In [20]:
df.stb.freq(['brand','year'], thresh=.5)

    brand    year  Count   Percent  Cumulative Count  Cumulative Percent
0    ford    2019    476  0.190476               476            0.190476
1   dodge    2019    226  0.090436               702            0.280912
2    ford    2017    178  0.071228               880            0.352141
3    ford    2018    148  0.059224              1028            0.411365
4  nissan    2018    131  0.052421              1159            0.463786
5  Others  Others   1340  0.536214              2499            1.000000

In [21]:
df[df.brand == 'ford'].stb.freq(['year'], thresh=.9)

     year  Count   Percent  Cumulative Count  Cumulative Percent
0    2019    476  0.385425               476            0.385425
1    2017    178  0.144130               654            0.529555
2    2018    148  0.119838               802            0.649393
3    2015    124  0.100405               926            0.749798
4    2016    110  0.089069              1036            0.838866
5    2014     54  0.043725              1090            0.882591
6  Others    145  0.117409              1235            1.000000

In [22]:
df.stb.freq(['brand'], value='price', thresh=.95)

       brand     price   Percent  Cumulative price  Cumulative Percent
0       ford  26758607  0.570541          26758607            0.570541
1      dodge   7681819  0.163790          34440426            0.734331
2  chevrolet   5544976  0.118229          39985402            0.852560
3     nissan   3764536  0.080267          43749938            0.932826
4        bmw    448750  0.009568          44198688            0.942394
5     Others   2701723  0.057606          46900411            1.000000

In [23]:
df.stb.freq(['brand'], value='price', thresh=.95, style=True)